@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*background-image: url("images/90.jpg");*/
}
body{
  background-color: #D2DFE3;
}


li, a{
  font-family:"Montserrat", sans-serif;
  font-weight: 500;
  font-size:16px;
  color: #edf0f1;
  text-decoration: none;
}
a:hover{
  color: inherit;
}
nav{

  display:flex;
  justify-content:space-between;
  align-items: center;
  background-color: #505d61;
  border-bottom: solid black 2px;
  padding: 0 10%;
}



.nav_links{list-style: none; margin: 0;}
.nav_links li{
  display:inline-block;
  padding: 0 20px;
}
/*Button underline animation start*/
.nav_links a {
  position: relative;
}

.nav_links a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #edf0f1;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav_links a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/*Button underline animation end*/
.nav_links {
  background-color: #667377;
  padding: 10px 0;
  border: solid #505d61 1px;
  border-radius: 15px;
}

.logo img{ max-width: 99px;
  /*For png border*/

   filter:drop-shadow(1px 1px 2px black)
   drop-shadow(-1px -1px 0 black);
}

@media (max-width: 800px) {

  .footer{
    flex-direction: column;
  }
}

a, p, span, td, th{
  font-size : 18px;
  font-family: poppins;
}



.tableCust{
  margin: 40px 10% 40px;
}

.tableCust tbody{
  background-color: #E6F3F7 ;
}

.tableCust tr{border-color: black;}

.tableCust table, td, th {
        padding: 50px;
        margin-bottom: 0;
        border-collapse: collapse;

}
.table>:not(caption)>*>*{padding: 30px;}

.tableCust h3{
  margin-bottom: 40px;
  font-size: 34px;
  font-family: poppins;
}

.edit {
  margin-right: 12px;
  background: #a9deba;
  background-image: -webkit-linear-gradient(top, #a9deba, #7c9973);
  background-image: -moz-linear-gradient(top, #a9deba, #7c9973);
  background-image: -ms-linear-gradient(top, #a9deba, #7c9973);
  background-image: -o-linear-gradient(top, #a9deba, #7c9973);
  background-image: linear-gradient(to bottom, #a9deba, #7c9973);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  -webkit-box-shadow: 4px 5px 10px #666666;
  -moz-box-shadow: 4px 5px 10px #666666;
  box-shadow: 4px 5px 10px #666666;
  font-family: Arial;
  color: #000000;
  font-size: 12px;
  padding: 5px 15px 5px 15px;
  border: solid #495054 2px;
  text-decoration: none;
}

.edit:hover {
  background: #a1cca4;
  background-image: -webkit-linear-gradient(top, #a1cca4, #b9d9c7);
  background-image: -moz-linear-gradient(top, #a1cca4, #b9d9c7);
  background-image: -ms-linear-gradient(top, #a1cca4, #b9d9c7);
  background-image: -o-linear-gradient(top, #a1cca4, #b9d9c7);
  background-image: linear-gradient(to bottom, #a1cca4, #b9d9c7);
  text-decoration: none;
}

.delete {
  background: #deabab;
  background-image: -webkit-linear-gradient(top, #deabab, #997474);
  background-image: -moz-linear-gradient(top, #deabab, #997474);
  background-image: -ms-linear-gradient(top, #deabab, #997474);
  background-image: -o-linear-gradient(top, #deabab, #997474);
  background-image: linear-gradient(to bottom, #deabab, #997474);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  -webkit-box-shadow: 4px 5px 10px #666666;
  -moz-box-shadow: 4px 5px 10px #666666;
  box-shadow: 4px 5px 10px #666666;
  font-family: Arial;
  color: #000000;
  font-size: 12px;
  padding: 5px 15px 5px 15px;
  border: solid #495054 2px;
  text-decoration: none;
}

.delete:hover {
  background: #cca1a1;
  background-image: -webkit-linear-gradient(top, #cca1a1, #d9baba);
  background-image: -moz-linear-gradient(top, #cca1a1, #d9baba);
  background-image: -ms-linear-gradient(top, #cca1a1, #d9baba);
  background-image: -o-linear-gradient(top, #cca1a1, #d9baba);
  background-image: linear-gradient(to bottom, #cca1a1, #d9baba);
  text-decoration: none;
}

.btnCust {
  line-height:normal;
  background: #f5f5f5;
  background-image: -webkit-linear-gradient(top, #f5f5f5, #adc2c1);
  background-image: -moz-linear-gradient(top, #f5f5f5, #adc2c1);
  background-image: -ms-linear-gradient(top, #f5f5f5, #adc2c1);
  background-image: -o-linear-gradient(top, #f5f5f5, #adc2c1);
  background-image: linear-gradient(to bottom, #f5f5f5, #adc2c1);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  -webkit-box-shadow: 4px 5px 10px #666666;
  -moz-box-shadow: 4px 5px 10px #666666;
  box-shadow: 4px 5px 10px #666666;
  font-family: Arial;
  color: #6b4d6b;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #495054 2px;
  text-decoration: none;
}

.btnCust:hover {
  background: #a9bec2;
  background-image: -webkit-linear-gradient(top, #a9bec2, #bacfdb);
  background-image: -moz-linear-gradient(top, #a9bec2, #bacfdb);
  background-image: -ms-linear-gradient(top, #a9bec2, #bacfdb);
  background-image: -o-linear-gradient(top, #a9bec2, #bacfdb);
  background-image: linear-gradient(to bottom, #a9bec2, #bacfdb);
  text-decoration: none;
  color: #6b4d6b;
}

.footer{
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20% 20px;
  background-color: #505d61;
  border-top: solid black 2px;
}

.copyright{
  text-align: center;
  margin-top: 18px;
  margin-bottom: 18px;
  color: #edf0f1;
}

/*bootstrap class edits */
.card{border-radius: 0.75rem;}
.card  hr{ height: 0.01px; opacity: 0.25; background-color: #7b809a33;}

.material-icons {
  font-family: 'Material Icons Round';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

.icon-lg {
    width: 64px;
    height: 64px;
}
.icon-lg i {
    top: 31%;
    font-size: 1.5rem;
}
.icon-shape i {
    color: #fff;

    position: relative;
}
.border-radius-xl {
    border-radius: 0.75rem;
}
.border-radius-lg {
    border-radius: 0.5rem;
}
.mt-n4 {
    margin-top: -1.5rem!important;
}

.position-absolute {
    position: absolute!important;
}
.shadow-primary {
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(233,30,99,.4)!important;
}
.shadow-dark {
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(64,64,64,.4)!important;
}
.shadow-info {
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(0,188,212,.4)!important;
}
.shadow-success {
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(76,175,80,.4)!important;
}
  .bg-gradient-primary {
      background-image: linear-gradient(195deg,#ec407a,#d81b60);
  }

  .bg-gradient-info {
    background-image: linear-gradient(195deg,#49a3f1,#1a73e8);
}
.bg-gradient-success {
    background-image: linear-gradient(195deg,#66bb6a,#43a047);
}
.bg-gradient-dark {
    background-image: linear-gradient(195deg,#42424a,#191919);
}
.card {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
}
